header{
    background-color: #33ccff;
    width: 100%;
    height: 100px;
    }

footer{
    background-color: #33cc66;
    width: 100%;
    height: 100px;
    }

#a{
    background-color: #3363cc;
    width: 100px;
    height: 100px;
    }

#b{
    background-color: #3f9462;
    width: 100px;
    height: 100px;
    }

#c{
    background-color: #75436f;
    width: 100px;
    height: 100px;
    }

#d{
    background-color: #cc7033;
    width: 100px;
    height: 100px;
    }

#e{
    background-color: #b0c565;
    width: 100px;
    height: 100px;
    }

#f{
    background-color: #8fc3db;
    width: 100px;
    height: 100px;
    }

#g{
    background-color: #b88e8e;
    width: 100px;
    height: 100px;
    }

#h{
    background-color: #9bce87;
    width: 100px;
    height: 100px;
    }

#i{
    background-color: #803269;
    width: 100px;
    height: 100px;
    }

#j{
    background-color: #175b75;
    width: 100px;
    height: 100px;
    }

#k{
    background-color: #78ce75;
    width: 100px;
    height: 100px;
    }

#l{
    background-color: #33425e;
    width: 100px;
    height: 100px;
    }

#m{
    background-color: #565f2e;
    width: 100px;
    height: 100px;
    }

#n{
    background-color: #7b508b;
    width: 100px;
    height: 100px;
    }

#o{
    background-color: #4d428b;
    width: 100px;
    height: 100px;
    }

#p{
    background-color: #315323;
    width: 100px;
    height: 100px;
    }